		header{
		  padding:5px;
		  position: fixed;
		  top: 0px;

		  font-size:20pt;
		  width: 1090px;

		  z-index: 1000;
		  background-color: #2a2a2a;
		  text-align: left;
		  display:none; 
		  }
		  
		body {
			background: #0b0b0b;
			}
        #map {
            height: 94.5vh; /* Adjusted height for map */
			background: #0b0b0b;
        }
        #header {
            font-size: 24px;
            margin: 5px;
            text-align: center;
        }
        #result {
            position: absolute;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.76);
            color: #ffffff;
			font-size: 17px;
            padding: 10px;
            border-radius: 5px;
            display: none;
            text-align: center;
        }

		
        #map:hover {
            cursor: default;        
        }

        .leaflet-interactive {
            cursor: crosshair;   
         
			stroke: #EDC1A0 !important; 
			color: #EDC1A0 !important; 	
			fillColor:#EDC1A0 !important; 			
        }
		
        .leaflet-interactive:hover {
            cursor: crosshair;   
            stroke: #FFE0C8 !important;         
			stroke-width: 4;			
        }

		.top-right-link {
		opacity:1;
		position: absolute;
		top: 6px;
		right: 26px;
		color: #8a8a8a;
		font-size: 28px;
		text-decoration: none;
		z-index:1999;
	}

	.top-right-link:hover {	
		
		color: #ffffff;
	}
	
		.toggle-map{
		opacity:0.4;
		position: absolute;
		top: 14px;
		right: 46px;
		color: #8a8a8a;
	}
	.toggle-map:hover{
		opacity:0.8;
	}
	.toggle-map > img {
		height:19px;
	}