body {
  background-color: #1e1e1e; /* Set your desired color */
  margin-top:-46px;
  zoom: 0.8;
}


button {
  background-color: #4d4d4d;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
 



.color-box {
    display: inline-block; /* Make the span a block for size */
  
    width: 12px; /* Set width of color box */
    height: 12px; /* Set height of color box */
    border: 0px solid #ccc; /* Optional border for better visibility */
    opacity:40%;
}




/* styles.css */

.theme-default {
    background-color: #256868 !important; /* Default theme */
    color: white;
}

.theme1 {
    background-color: #624266 !important; /* Theme 1 */
    color: black;
}

.theme2 {
    background-color: #966b96 !important; /* Theme 2 */
    color: black;
}

.theme3 {
  background-color: #a79564 !important; /* Theme 2 */
  color: black;
}

.theme4 {
  background-color: #5f7687 !important; /* Theme 2 */
  color: black;
}

.theme5 {
  background-color: #855d67 !important; /* Theme 2 */
  color: black;
}


.theme6 {
  background-color: #541f1f !important; /* Theme 6 */
  color: white;
}

.theme7 {
  background-color: #1abc9c !important; /* Theme 7 */
  color: white;
}

.theme8 {
  background-color: #2aa2cf !important; /* Theme 8 */
  color: white;
}

.theme9 {
  background-color: #4481ad !important; /* Theme 9 */
  color: white;
}

.theme10 {
  background-color: #b06342 !important; /* Theme 10 */
  color: black;
}


/* Style for theme selector */



#logoimg {
	width:auto;
	position: absolute;
	top: 1156px;
	left: 1112px;
}


.theme-selector {
  display: flex;
  gap: 4px; /* Space between buttons */
    position: absolute;
    top: 1172px;
    left: 1142px;
}


.theme-button {
    padding: 0px;
    margin: 5px;
    border: none; /* Remove default border */

    cursor: pointer; /* Change cursor on hover */
    display: flex; /* Align items */
    align-items: center; /* Center align content */

    border: none;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.theme-button:hover {
  box-shadow: 0 0 4px #ffffff; 
}




div {
	font-family: Arial;
  color: white;
}
#map img {
  width: 100%;
  height: 100%;
}
#map {
	position: relative;
	width: 800px; /* Largeur de votre image */
	height: 800px; /* Hauteur de votre image */
}
#map-image, #myCanvas {
	position: absolute;
	top: 105px;
	left: 0;
}




#change {
	text-align:right;
	position: absolute;
	top: 95px;
	right:66px;
	font-size: 10pt;
}




#settings {
// initial popup on page
  border:solid 1px;
  margin:40px;
  margin-top: 220px;
  padding:10px;
  position: absolute;
  top: 15px;
  left: 435px;
  font-size:32pt;
  width: 260px;
  
  text-align: center;
}

#settings2{
  background-color: #2a2a2a;
}

#finish {
  border:solid 1px;
  margin:-10px;
  padding:10px;
  position: absolute;
  top: 155px;
  left: 35px;
  font-size:20pt;
  width: 740px;
  background-color: #2a2a2a;
  text-align: center;
  display:none;
}

#credits {
  position: absolute;
  top: 985px;
  left: 10px;
  
  font-size:10pt;
}

#score {
  position: absolute;

  top: 60px;
  left: 1112px;

}

#click-coordinates {

  position: absolute;
  top: 1212px;
  left: 12px;
  width: 1200px;
  color: grey;
}


#target-info {
  /*Find ...
  location hover popup (asks you to click on said location)*/

  padding:5px;
  position: absolute;
  top: 15px;
  left: 8px;
  font-size:20pt;
  width: 1090px;
  background-color: #2a2a2a;
  text-align: left;
  display:none; 
}

#target-info-2 {
  /* Find ...
  location hover popup (asks you to click on said location)*/

  padding:5px;
  position: absolute;
  top: 1162px;
  left: 8px;
  font-size:20pt;
  width: 1090px;
  background-color: #2a2a2a;
  text-align: left;
  display:none; 
}

.click-point {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #808080;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* center */
}
.target-point {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: cyan;
  border-radius: 150%;
  transform: translate(-50%, -50%); /* center */


  border: 1px solid #fdf7d5;
  box-shadow: 0 0 24px cyan;


}
.target-text {
  position: absolute;
  color:white;
  background-color: #256868;
  font-size: 12pt;

  padding: 0px 0px;
  //name of location
}


.info-text{
  position: absolute;
  color:white;
  background-color: #256868;
  font-size: 8pt;

  padding: 0px 0px;
  margin-top:22px;
  //name of location

}

.info-text::before {
  content: "(";
}

.info-text::after {
  content: ")";
}

/* target-text-copy → Name of Site, appears on Right */
.target-text-copy {       
  position: absolute;
  color:white;
  background-color: #256868;

  font-size: 25pt;

  top: 150px !important; 
  left:0px !important;
  word-wrap: wrap !important;
  width:500px;
}



/* info-text-copy → State in which the site is located in, appears on Right below target-text-copy */
.info-text-copy {
  position: absolute;
  color:white;
  background-color: #256868;

  font-size: 21pt;

  top: 185px !important; 
  left:0px !important;
  word-wrap: wrap !important;
  width:500px;
}

.info-text-copy::before {
  content: "(";
}

.info-text-copy::after {
  content: ")";
}



/* info-text-2 → detailed info about site, appears on right*/
.info-text-2{
  position: absolute;
  color:white;
  background-color: #256868;

  font-size: 18pt;

  top: 216px !important; 
  left:0px !important;
  word-wrap: wrap !important;
  width:500px;
  
//parameter 5 of csv i.e. detailed info that shows on right
}



/* info-text-3 → Image */
.info-text-3{



  position: absolute;
  color:white;
  

  font-size: 18pt;
  top: 622px !important;
  left:0px !important;
  word-wrap: wrap !important;



  //background-color: #256868;
  
  
//parameter 6 of csv i.e. image that shows on right
}

.info-text-3 img {

  max-width: 500px !important;
  max-height: 500px !important;
  height: auto; /* Maintain aspect ratio */
}


.distance-text {
  position: absolute;
  color:white;
  background-color: #256868;

  font-size: 20pt;
  top: 120px !important; 
  left:10px !important;
  /*distance of user selected location from correct location*/
}


@media only screen and (max-width: 819px) { /* Mobile Hotfix */

	#score {
	  top: 1355px;
	  left: 10px;
	  width: 800px;
	}
	#click-coordinates {
	  position: absolute;
	  top: 75px;
	  left: 15px;
	  width: 800px;
    color: grey;
	}
}