.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #818181 !important; 
	color: #f1be70 !important; 	
	fill: rgb(237, 175, 81) !important;

}
	

.leaflet-interactive:hover{
	stroke: #818181 !important; 
	color: #f1be70 !important; 	
	fill: rgb(237, 175, 81) !important;
	stroke-width: 2px !important;
}

.leaflet-tooltip {
	background-color: #8f5d5d !important;
}

.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.reveal-all-tooltip.highlighted,
.leaflet-tooltip.reveal-all-tooltip.leaflet-zoom-animated.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.highlighted 
{
background-color: #613c3c !important;
	}