.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #517a96 !important; 
	stroke-width: 0.6px !important;
	fill: rgba(213,233,246,0.2) !important; 
	transition: fill 0.5s;
}



.leaflet-interactive:hover{
	stroke: rgb(70, 109, 143) !important; 	
	fill: rgba(92, 140, 173, 0.3) !important; 	
	stroke-width: 2px !important;
}


.leaflet-interactive.persistent-hover {
    fill: rgba(150, 81, 81, 0.8) !important; /* Adjust fill if necessary */
    transition: none !important; /* Prevent animations */
}

/*  */


.leaflet-marker-icon{opacity:0;}

.line_leaflet{
	stroke: #a3c2de !important; 
	stroke-width: 1px;	
	fill: rgba(204, 229, 247, 0.2) !important; 	
}

.line_leaflet:hover{
	fill: rgba(157, 189, 212, 0.5) !important; 	
	stroke: rgb(78, 129, 174) !important; 	
	stroke-width: 1px;	
}


.selected-path{
	stroke-width: 1px;	
	fill: rgba(87, 164, 220, 0.2) !important; 
}


.selected-path:hover{
	stroke-width: 2px !important;	
}

/*  */







@media only screen and (max-width: 549px){

.leaflet-interactive {

	stroke-width: 4px !important;
	stroke-opacity: 0.6 !important; 
	
}
	
}