.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #68564f !important; 
	color: #a89e98 !important; 	
	fill: #a89e98 !important;
	stroke-width: 1px !important;
}
	

.leaflet-interactive:hover{
	stroke: #68564f !important; 
	color: #a89e98 !important; 	
	Color:#a89e98 !important; 		
	fill: #a89e98 !important;
	stroke-width: 1px !important;
}



.leaflet-tooltip {
	background-color: #aaaaaa !important;
	border: solid 1px #868585 !important; 
}



.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.reveal-all-tooltip.highlighted,
.leaflet-tooltip.reveal-all-tooltip.leaflet-zoom-animated.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.highlighted 
{
background-color: #7d7d7d !important;
	}