.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #68564f !important; 
	color: #a89e98 !important; 	
	fill: #a89e98 !important;
	stroke-width: 1px !important;
}
	

.leaflet-interactive:hover{
	stroke: #68564f !important; 
	color: #a89e98 !important; 	
	Color:#a89e98 !important; 		
	fill: #a89e98 !important;
	stroke-width: 1px !important;
}



