.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #376437 !important; 
	color: #57C268 !important; 	
	fill: #57C268 !important;
}
	

.leaflet-interactive:hover{
	stroke: #376437 !important; 
	color: #57C268 !important; 	
	fill:#57C268 !important; 		
	stroke-width: 2px !important;
}