.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #f0fdff !important; 
	color: #64b0ce !important; 	
	fill: #64b0ce !important;
	stroke-width: 1.5px !important;
}
	

.leaflet-interactive:hover{
	stroke: #f0fdff !important; 
	color: #64b0ce !important; 	
	fill:#64b0ce !important; 		
	stroke-width: 1px !important;
}