.leaflet-interactive, .leaflet-interactive:hover {
	pointer-events: all; 
	touch-action: manipulation; 
	will-change: transform, stroke-width; 
	}

.leaflet-interactive:hover{
	cursor: crosshair;        
	stroke-width: 4;
	stroke: #FFE0C8 !important;  	
}
	

.leaflet-control-attribution.leaflet-control{
	display:none;
	opacity:0;
}


.icons-container{

zoom:125%;

}
	
.top-right-link {
	z-index:999999;
	opacity:1;
	position: absolute;
	top: 0px;
	right: 52px;
	color: #8a8a8a;
	font-size: 28px;
	text-decoration: none;
	z-index:1999;
}

.top-right-link:hover {	
	z-index:999999;
	color: #ffffff;
}


.toggle-map{
	z-index:999999;
	position: absolute;
	top: 6px;
	right: 72px;
	color: #8a8a8a;
	opacity:1;
}

.toggle-map:hover{
	z-index:999999;
	opacity:0.8;
}



.toggle-map-2{
	z-index:999999;
opacity:0.5;
position: absolute;
top: 8px;
right: 90px;
color: #8a8a8a;
}
.toggle-map-2:hover{
	z-index:999999;
opacity:1;
}
.toggle-map-2 > img {
	z-index:999999;
height:19px;
}

.toggle-map-3{
	z-index:999999;
opacity:0.5;
position: absolute;
top: 8px;
right: 110px;
color: #8a8a8a;
}
.toggle-map-3:hover{
	z-index:999999;
opacity:1;
}
.toggle-map-3 > img {
	z-index:999999;
height:19px;
}
.toggle-map-4{
	z-index:999999;
opacity:0.5;
position: absolute;
top: 8px;
right: 130px;
color: #8a8a8a;
}
.toggle-map-4:hover{
	z-index:999999;
opacity:1;
}
.toggle-map-4 > img {
	z-index:999999;
height:19px;
}


.toggle-map-5{
	z-index:999999;
opacity:0.5;
position: absolute;
top: 8px;
right: 150px;
color: #8a8a8a;
}
.toggle-map-5:hover{
	z-index:999999;
opacity:1;
}
.toggle-map-5 > img {
	z-index:999999;
height:19px;
}
 



	
	
	header{
		  padding:5px;
		  position: fixed;
		  top: 0px;

		  font-size:20pt;
		  width: 1090px;

		  z-index: 1000;
		  background-color: #2a2a2a;
		  text-align: left;
		  display:none; 
		  }
		  
		.correct-path{
			color:#00FFF0 !important;
		}
		.default-path{
			color:#60A6C2 !important;
		}
		.incorrect-path{
			color:#894545 !important;
		}
	


        #map {
            height: 92vh; /* Adjusted height for map */
			background: #0b0b0b;
        }
        #header {
            font-size: 24px;
            margin: 10px;
            text-align: center;
        }
		#result {
			position: absolute;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 9999;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			padding: 10px;
			border-radius: 5px;
			display: none;
			text-align: center;
		}
		
		#result2 {
			position: absolute;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 9999;
            background-color:#E2CA97; border: 1px solid #8D8D8D; margin-left:-100px; margin-top:240px;
			color: #000000;
			padding: 10px;
			border-radius: 5px;
			display: none;
			text-align: center;
        }
		

		#result2 > button {
			background-color: #D0B06B;

		} 


		#resultSelect {          
			position: absolute;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 1);
            color: #ffffff;
			font-size: 17px;
            padding: 10px;
            border-radius: 5px;
            display: none;
            text-align: center;
		 }

		#resultCorrect {          
			position: absolute;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 1);
            color: #ffffff;
			font-size: 17px;
            padding: 10px;
            border-radius: 5px;
            display: none;
            text-align: center;
		 }
			 
        #map:hover {
			cursor: default;        
		}



	body{
		zoom:99%;
	}



.switcher{
	position:absolute; margin-top:-5px; margin-left:8px; z-index:9999; font-size:22px;
}

	
.switcher-text{
	opacity: 0.6;
}
.switcher-text:hover{ 
	opacity:1;
 }

.slider-container{
	margin-top:-22px;
	text-align: right;
	margin-right: 100px;
	opacity:0.5; z-index:9999;
}

#slider-label{
	color:#000000; 
	transform: translate(-20px, -20px) !important;
	
}

#do_not_repeat_label {
	color:#000000;
}
 
@media only screen and (max-width: 549px){



		.reveal-all{opacity:0;}
		
		#header{
			position:absolute;
			z-index:9999;
			zoom:94%;

			top:40px;
			margin-left:180px;

			background-color: rgba(80,80,80,0.1);
		}

		#result{
			margin-top:60px;
			zoom:70%;
			opacity:0.8;
		}

		span{
			opacity:0;
			zoom:0.1%;
		}

.switcher-text{
	position: absolute;
			top:-4px;
}


		.score-bottom{
			position: absolute;
			top:6px;
			left:30%;
			zoom:90%;
			
		}



		#do_not_repeat_label, #noRepeat{
			display:none; /* option to disallow repetition removed for mobile devices*/
			}
			
		.slider-container{
			position: absolute;
			bottom:7%;
			right:-14%;
			zoom:70%;
			z-index:9999;
		}
		
		#timeoutValue {
			opacity:1;
		}

		.leaflet-control-zoom.leaflet-bar.leaflet-control{
			display:none;
		}


		.toggle-map, .toggle-map-2, .toggle-map-3, .toggle-map-4, .toggle-map-5{
			zoom:80%;
		}

		.top-right-link{
			zoom:80%;
		}

		
	  }
		  
	  