@keyframes drift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}


.toggle-map, .toggle-map-1, .toggle-map-2, .toggle-map-3, .toggle-map-4, .toggle-map-5 {
  width: 21px !important;
  height: 28px !important;
}


.highlighted {

  background-image: linear-gradient(-90deg,
    rgba(229, 246, 255, 0.9),
    rgba(225, 253, 251, 0.85),
    rgba(234, 255, 251, 0.95),
    rgba(227, 252, 250, 0.85)
  );
  background-size: 300% 300%;
  animation: drift 2s ease infinite;
  z-index: 2147483647 !important;

  /* Text and subtle enhancement */
  color: #333;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

  /* Optional: subtle border or inner outline */
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 0.25em 0.5em;
  border-radius: 4px;
}



/* FOR BAIGE THEME GO TO THEMEBAIGE.CSS */


li.highlighted {
 /* background-color: rgba(224, 247, 250, 0.7); */ /* light cyan base with lower opacity */
 /* background-image: linear-gradient(270deg,
    rgba(240, 255, 255, 0.91),
    rgba(250, 224, 246, 0.91),
    rgba(244, 240, 255, 0.91)  ); */ /* CHANGE THESE FOR ALTERING ANIMATION COLORS ON SIDEBAR*/
/*
  background-size: 400% 400%;
  animation: iridescent 3s ease-in-out infinite;
  */
   background-image: unset !important;
  z-index: 2147483647 !important;
}


.sidebar-popup {
    position: fixed;
	width: 180px;
    max-width: 180px;
     color: black;
background-color:  rgba(226, 226, 226, 0.5);
    padding: 5px 8px;
    z-index: 9999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
 
}



.sidebar-popup .safe-nl .nl {

    display: block !important;
    color: black;
 
    font-weight: normal;
    visibility: visible;
   font-size: 13.4px !important;

}


.hidden {
    display: none !important;
}

* {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.reveal-all-tooltip-icon{
	opacity: 0.2;
}



path{
	cursor: pointer;
    pointer-events: all;
}







