html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.top-right-link{right: 125px !important; opacity: 0.5 !important;} /* home */
.top-right-link:hover {	opacity: 1 !important}

.toggle-map-3{right: 160px;} /* rivers */
.toggle-map-1{right: 195px} /* baige */

.toggle-map-4{right: 225px;} /* night & districts */

.toggle-map-2 {display:none;} /* white & states */
.toggle-map {display:none;} /* disable */


#map {
	height: 92vh; /* Adjusted height for map */
	background: #0b0b0b;
}


.top-right-link {
	z-index:999999;
	opacity:1;
	position: absolute;
	top: 0px;
	color: #8a8a8a;
	font-size: 28px;
	text-decoration: none;
	z-index:1999;
}




.leaflet-tooltip.selected-tooltip.leaflet-zoom-animated, 
.leaflet-tooltip.correct-tooltip.leaflet-zoom-animated{
	/* this includes both selected and correct tooltip css*/
	font-size: 10pt;
	opacity:0.9;

	line-height: 1 !important;  /* Reduce line height to fit text */
   
	user-select: text !important;
	
}
	
.leaflet-tooltip-left{
	left: -4.2px !important;
}
	
.leaflet-tooltip-right{
left: 4.2px !important;
}


body{
	zoom:90%;
	overflow: hidden;
}

#nl{
	font-size:10px; /* for new lines below label*/
}

.slider-container{
	margin-top:-20px;
	text-align: right;
	margin-right: 10px;
	opacity:0.5; 
	z-index:9999;
}

#Advance {
	position: fixed;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px; /* Optional: Adds some spacing from the edge */
    
    width: 38rem !important;
    height: 8rem !important;
    opacity: 1;
    

	background-color: rgba(141, 141, 141, 0.1);
	border:1px solid rgb(82, 82, 82);
    text-align: center;
    line-height: 26px;
    font-weight: bold;
   
    cursor: pointer;

	border-radius: 12px;

	filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.2));
}



#auto_next_label, .auto_next_label, #auto_next{
	color:#000000;
	position: relative !important;
	bottom: 0.2rem !important;
}

#do_not_repeat_label, .do_not_repeat_label, #noRepeat, #slider-label {
	
	color:#000000;
	position: relative !important;
	bottom: 0.2rem !important;
}
 
input[type="checkbox"]#auto_next, input[type="checkbox"]#noRepeat{
	bottom: 0.4rem !important;
}

input[type="range"]#timeoutSlider {
	bottom: 0rem !important;
}


#timeoutSlider{
	position: relative !important;
	bottom: 4px !important;
	
}

.info-text {
	opacity:0;
	position: fixed;
	bottom: 30px;
	right: 20px;
	width: 300px;
	max-height: calc(100vh - 20px); /* Prevents overflow beyond the bottom */
	overflow-y: auto; /* Allows scrolling if content exceeds max-height */
	background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
	color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 9999; /* Ensures it appears above other elements */
	user-select: text; /* Allows text selection */
	
  }

  










.leaflet-interactive, .leaflet-interactive:hover {
	pointer-events: all; 
	touch-action: manipulation; 
	will-change: transform, stroke-width; 
	z-index: 99999 !important;
	}


	.leaflet-interactive {
		transition: stroke 0.5s;
	}
	

.leaflet-pane {
    user-select: text !important;
}



.leaflet-interactive:hover{
	cursor: crosshair;        
	stroke-width: 4;
	stroke: #FFE0C8 !important;  	
	
}
	

.leaflet-control-attribution.leaflet-control{
	display:none;
	opacity:0;
}

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom
{
	user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -moz-user-select: none; 

	touch-action: pinch-zoom;
	height: 57.6rem !important;
	max-height:92vh !important;
	will-change: transform !important;
	
	
}	


.icons-container{

zoom:125%;

}
	










.toggle-map, .toggle-map-1, .toggle-map-2, .toggle-map-3, .toggle-map-4, .toggle-map-5{
	z-index:999999;
opacity:0.6;
position: absolute;
top: 8px;
color: #8a8a8a;
}


.toggle-map > img, .toggle-map-1 > img, .toggle-map-2 > img, .toggle-map-3 > img, .toggle-map-4 > img, .toggle-map-5 > img  {
	z-index:999999;
height:19px;
}

.toggle-map:hover, .toggle-map-1:hover, .toggle-map-2:hover, .toggle-map-3:hover, .toggle-map-4:hover, .toggle-map-5:hover{
	z-index:999999;
	opacity:1;
	
}






	


	header{  /* for the Locate feature go to # header */
		padding:5px;
		position: fixed;
		top: 0px;

		font-size:20pt;
		width: 1090px;

		z-index: 1000;
		background-color: #2a2a2a;
		text-align: left;
		display:none; 
		  }
		  





		.correct-path{
			color:#00FFF0 !important;
		}
		.default-path{
			color:#60A6C2 !important;
		}
		.incorrect-path{
			color:#894545 !important;
		}
	


		
        #header {
            font-size: 25px;
			margin-top: -3px;
            margin-bottom: 10px;

            text-align: center;
        }

		#result {
			position: absolute;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 9999;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			padding: 10px;
			border-radius: 5px;
			display: none;
			text-align: center;
			opacity:0.8;
		}
		
		#result2 {
			position: absolute;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 9999;
            background-color:#E2CA97; border: 1px solid #8D8D8D; margin-top:240px;
			color: #000000;
			padding: 10px;
			border-radius: 5px;
			display: none;
			text-align: center;
        }
		

		#result2 > button {
			background-color: #D0B06B;

		} 


		#resultSelect {          
			position: absolute;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 1);
            color: #ffffff;
			font-size: 17px;
            padding: 10px;
            border-radius: 5px;
            display: none;
            text-align: center;
		 }

		#resultCorrect {          
			position: absolute;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 1);
            color: #ffffff;
			font-size: 17px;
            padding: 10px;
            border-radius: 5px;
            display: none;
            text-align: center;
		 }
			 
        #map:hover {
			cursor: default;        
		}






.switcher{
	position:absolute; 
	margin-top:-6px; 
	margin-left:8px; z-index:9999999; 
	font-size:28px;
}

	
.switcher-text{
	opacity: 0.6;
}
.switcher-text:hover{ 
	opacity:1;
 }





/*    media */


@media only screen and (max-width: 1379px){  /* ipad media below */

	.top-right-link{right: 65px !important;} /* home */

	.toggle-map-3{right: 100px;} /* rivers */
	.toggle-map-1{right: 130px} /* baige */

	.toggle-map-4{right: 160px;} /* night & districts */
	
	.toggle-map-2 {display:none;} /* white & states */
	.toggle-map {display:none;} /* disable */



	.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom
	{
		user-select: none; 
		-webkit-user-select: none; 
		-ms-user-select: none; 
		-moz-user-select: none; 
	
		touch-action: pinch-zoom;
		max-height:92vh !important;
		will-change: transform !important;
		margin-top:30px !important;
	}	
	
			

	#Advance {
		width:540px !important;
		height: 82px !important;
	}

	.leaflet-interactive {

		stroke-width: 3px ;
		stroke-opacity: 0.4 ; 
		
	}




	#header{
		margin-top:12px !important;
		user-select: none; 
		-webkit-user-select: none; 
		-ms-user-select: none; 
		-moz-user-select: none; 
		pointer-events: none;
		touch-action: none;
		pointer-events: none; 
		touch-action: none; 
		
		position: absolute;
		top:26px !important;
	
		z-index:9999;
		zoom:100%;
		
		background-color: rgba(80,80,80,0.1);
		
	}


.leaflet-control-zoom.leaflet-bar.leaflet-control{
	
	position: fixed;
	
	right: 10px;
	opacity: 0.8;
	
	/*zoom ± button */
	
}






.switcher-text{
	
	position: absolute !important;
	transform: translate(6px , -20px) !important;
		
	}

	
		
.icons-container{
	zoom:120%;
	transform: translate(62px , -30px) !important;
	}




		.score-bottom{
			display:none; 
			
		}

		.slider-container{
			display:none;
		}


}
	  



@media only screen and (max-width: 829px){   /* iphone media below */

	


	#Advance {
		width:290px !important;
		height: 72px !important;
	}

	#header {
		user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		pointer-events: none;
		touch-action: none;
	
		position: fixed !important;
		top: 20px !important;
		left: 0 !important;
		right: 0 !important;
		padding: 0 20px; /* distance from both sides */
		box-sizing: border-box;
	
		z-index: 1999 !important;
		background-color: rgba(80, 80, 80, 0.1);
	}
	
	
	.switcher-text{
		position: absolute !important;
		top: -10px !important;
		width:fit-content !important;
		}


	  
	.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom
	{
		max-height:80vh !important;
	}	
	

	
				
}
