/* baige theme */
body {
	background: #ebdcbb !important;
	color: white;
    background: #ebdcbb !important;
	}
	
.highlighted {
  background-color: rgba(224, 247, 250, 0.7);
  background-image: linear-gradient(-90deg,
  rgba(222, 201, 106, 0.9),
  rgb(245, 233, 188),
   rgb(237, 226, 181),
   rgba(222, 201, 106, 0.9)
   );
   
  background-size: 300% 300%;
  animation: drift 6s ease infinite;
  z-index: 2147483647 !important;
}

li.focused {

  background-image: unset !important;
 background-color: #e4d3b0 !important;

}


li.highlighted {
    background-image: unset !important;
 background-color: rgba(233, 210, 162,1) !important;
 
  }

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom, 
.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-touch-zoom {
	background: #ebdcbb !important;
	color: white;
	
	}




    .reveal-all, .reveal-list,  #header { /*button*/
        font-size:16px; color:#656565; background-color:#e0ca9c !important;
    }

    .top-right-link-button, .switcher-button, .info-br {
	background-color: #e0ca9c !important;
}


    .reveal-all:hover {
  background-color: rgb(203, 183, 140) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.top-right-link-button:hover, .switcher-button:hover, .info-br:hover {
	 background-color: rgb(203, 183, 140) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.sidebar {
    background-color:#efddb5 !important;
}
.sidebar ul li:hover {
    background-color: #e5d1a4 !important;


.leaflet-tooltip.leaflet-zoom-animated{
	/* background-color: #94ab69 !important; */

	border-color: rgba(75, 75, 75,0.6) !important;
	
}

.leaflet-tooltip-right:before {

    content: "";
    position: absolute;
    top: 50%;

    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: rgba(120, 120, 120,0.8); /* ← tooltip triangle */
}

.leaflet-tooltip-left:before {

    content: "";
    position: absolute;
    top: 50%;

    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: rgba(120, 120, 120,0.8); /* ← tooltip triangle color */
}




.title-span, #header, .switcher-text, .score-bottom{
	color: #000000 !important;
}




/* default theme  ends */
	


