/* DARK THEME */
body {
	background: #222222 !important;
	}

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom{
	background: #222222 !important;
	}

#header, .score-bottom{
color: white !important;
} 


.reveal-all, .reveal-list {
	color:#ffffff; background-color:#3d3d3d !important; border: #303030;
}

.reveal-all-tooltip {
    background-color: rgba(256,256,256,0.9);
}



.title-span, #header, .switcher-text, .score-bottom, #slider-label{
	color: #ffffff !important;
}

#auto_next_label,
#do_not_repeat_label {
	color:#ffffff !important;
}



#result2 {
	background-color: #505050;
	color: #ffffff;

}


#result2 > button {
	background-color: #808080;

} 


