/* default theme */
body {
	background: #e2ca97 !important;
	color: white;
	}
	


.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom{
	background: #e2ca97 !important;
	color: white;
	}

.reveal-all{ /*button*/
	color:#ffffff; background-color:#c3b698 !important;
}

.reveal-all-tooltip {
    background-color: rgba(256,256,256,0.9);	
}
	


.title-span, #header, .switcher-text, .score-bottom{
	color: #000000 !important;
}




/* default theme  ends */
	