/* default theme */
body {
	background: #E7E4DF !important;
	color: white;
	}
	

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom, 
.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-touch-zoom {
	background: #E7E4DF !important;
	color: white;
	
	}

.home-link-button, 
.leaflet-control-zoom-in, .leaflet-control-zoom-out,
.title-span, #header, .switcher-text, .score-bottom, .info-br, .reveal-list{
	background: #E7E4DF;
	background-color: #E7E4DF !important;
}




/* default theme  ends */
	