/* light theme */
body {
	background: #f4f5f7 !important;
	}
.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom{
	background: #f4f5f7 !important;
	}

.reveal-all{ /*button*/
	color:#ffffff; background-color:rgb(112, 112, 112) !important;
}

.reveal-all-tooltip {
    background-color: rgba(256,256,256,0.9);
}


.title-span{
	color: #000000 !important;
}
	

#result2 {
	background-color: #ACACAC;
}


#result2 > button {
	background-color: #808080;

} 


/* light theme  ends */
	