/* default theme */
body {
	background: #f4f5f7 !important;
	color: white;
	}
	


.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom, 
.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-touch-zoom {
	background: #f4f5f7 !important;
	color: white;
	
	}


 






.title-span, #header, .switcher-text, .score-bottom{
	color: #000000 !important;
}




/* default theme  ends */
	