.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #ca8e3e !important; 
	color: #4dd8cf !important; 	
	fill: #4dd8cf !important;
}
	

.leaflet-interactive:hover{
	stroke: #ca8e3e !important; 
	color: #4dd8cf !important; 	
	fill:#4dd8cf !important; 		
	stroke-width: 2px !important;
}