.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #2d2d2d !important; 
	color: #8ccee8 !important; 	
	fill: #8ccee8 !important;
	stroke-width: 1px !important;
}
	

.leaflet-interactive:hover{
	stroke: #2d2d2d !important; 
	color: #8ccee8 !important; 	
	Color:#8ccee8 !important; 		
	fill: #8ccee8 !important;
	stroke-width: 1px !important;
}




.line_leaflet.leaflet-interactive{
	stroke: #1b1a1a !important;
	stroke-width: 1px !important;
	fill: rgba(49, 130, 142, 0) !important;
}


.polygon_leaflet.leaflet-interactive{
	stroke: #000000 !important;
	stroke-width: 1px !important;
	fill: rgb(174, 232, 255, 0.5) !important;
}