.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #e28393 !important; 
	color: #ffffff !important; 	
	fill: #ffffff !important;
}
	

.leaflet-interactive:hover{
	stroke: #e28393 !important; 
	color: #ffffff !important; 	
	fillColor:#ffffff !important; 		
	fill: #ffffff !important;
	stroke-width: 2px !important;
}