.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #517a96 !important; 
	stroke-width: 2px !important;
}
	

.leaflet-interactive:hover{
	stroke: #699dc0 !important; 
	
	stroke-width: 3px !important;
}