.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #ffffff !important; 
	color: rgb(255, 104, 10) !important;		
	fill:rgb(255, 104, 10) !important;	
	stroke-width: 1px !important;
}
	

.leaflet-interactive:hover{
	stroke: #ffffff !important; 
	color: rgb(255, 104, 10) !important;	 	
	fill:rgb(255, 104, 10) !important;		
	stroke-width: 2px !important;
}