.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #ffc8fe !important; 
	color: #50134F !important; 	
	fill: #50134F !important;
	stroke-width: 1px !important;
}
	

.leaflet-interactive:hover{
	stroke: #ffc8fe !important; 
	color: #50134F !important; 	
	Color:#50134F !important; 		
	fill: #50134F !important;
	stroke-width: 1px !important;
}





.leaflet-tooltip {
	background-color: #7a1878 !important;
}



.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.reveal-all-tooltip.highlighted,
.leaflet-tooltip.reveal-all-tooltip.leaflet-zoom-animated.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.highlighted 
{
background-color: #50134F !important;
	}