
.polygon_leaflet{
	stroke: #a3c2de !important; 
	stroke-width: 1px;	
	fill: rgba(181, 215, 239, 0.3) !important; 	
}

.polygon_leaflet:hover{
	stroke: #475969 !important; 
	fill: rgba(181, 215, 239, 0.3) !important; 	
	stroke-width: 1px;	
}
