.leaflet-interactive {
	cursor: crosshair;   
 
	stroke: #376437 !important; 
	color: #FF6666 !important; 	
	fill: #FF6666 !important;
}
	

.leaflet-interactive:hover{
	stroke: #376437 !important; 
	color: #FF6666 !important; 	
	fill:#FF6666 !important; 		
	stroke-width: 2px !important;
}

.leaflet-tooltip {
	background-color: #983030 !important;
}



.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.reveal-all-tooltip.highlighted,
.leaflet-tooltip.reveal-all-tooltip.leaflet-zoom-animated.leaflet-tooltip-right.highlighted,
.leaflet-tooltip.highlighted 
{
background-color: #5e0909 !important;
	}